html {
    box-sizing: border-box;
/*    background-color: #e6e6e6;*/
    padding-top: 0;
}



body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    max-width: 1024px;
    background-color: var(--background-color);
    /*    cursor: url('../images/cursor.png'),auto;*/

}

.navbar {
    margin-top: 6px;
    display: flex;
    display: -ms-flexbox;
    background-color: var(--background-color);
    /*    -ms-flex-wrap: wrap;*/
}

.nav {
    list-style-type: none;
    margin-right: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    width: 100%;
    padding: inherit;

}


.nav-link {
    text-decoration: none;
    color: var(--nav);
    margin: 14px;
}

.nav-link:hover {
    color: var(--primary);
    transition: 0.5s ease-out;
}

.logo {
    margin-left: 20px;
    width: 60px;
    left: 20px;
    top: 22px;
}

.logo > img {
    width: 50px;
    height: auto;
}

.active {
    /*    font-weight: bolder;*/
    color: var(--primary);
    border-bottom: solid var(--primary) 2px;
    /*    padding: 4px 10px;*/

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: solid var(--nav) 1px;
    padding-top: 1em;
}

footer > div > img {
    width: 340px;
}

.footer-col {
    padding: 10px 40px;
}

.footer-col > a {
    align-content: center;
    font-size: 1em;
    text-decoration: none;
    color: var(--nav);
    margin-top: 20px;
}
.footer-col > h4 {
    margin: 0 auto;
}
.footer-col > a:hover {
    color: var(--primary);
    text-decoration: underline;
}
.slogan {
    font-weight: 500;
    font-size: 1.6em;
    padding-left: 1.5em;

}

/* Chrome, Safari, Opera */
/* @-webkit-keyframes navlink {
from {color: var(--nav);}
to {color: var(--primary);}
}
/* Standard syntax */
/* @keyframes navlink { */
/* from {color: var(--nav);}
to {color: var(--primary);}
} */

.my-grid {
    display: grid;
    width: 100% ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin-bottom: 10px;
    grid-gap: 10px;
/*    grid-row-gap: 2em;*/
}

.my-grid > .solution {
    grid-column: span 4;
    text-align: center;
    color: var(--primary);
    padding: 0 auto;
}

.my-grid > .solution > h3 {
    text-align: left;
    padding-left: 3em;
}


.my-grid > .description {
    grid-column: span 6;
/*    padding-left: 20px;*/
}

.my-grid > .heading {
    grid-column: 1 / span 12;
    text-align: center;
    color: var(--primary);
}

.my-grid > .price {
    grid-column: span 2;
    text-align: right;
    color: var(--primary);
}

.my-grid > .left-pic {
    width: 1fr;
    margin: 0 auto;
}

.my-grid > .right-side {
    width: 1fr;
    color: var(--paragraph-text);
    margin: 0 auto;
}

.big-col {
    grid-column: 1/span 3;
    padding-left: 4em;
    margin: 0;
}

.big-col > h3 {
    margin: 0;
}

.big-col > p {
    margin-top: 0;
}

.right-col {
    grid-column: 6/span 6;
    padding-left: 20px;
}

.page-title {
    grid-column: 1/span 12;
    padding: 0 20px;
}

.button {
    /*    background-color: var(--btn-background);*/
    text-align: center;
    padding: 18px 32px;
    margin: 4px 2px;
    border-radius: 6px;
}

.enter {
    text-decoration: none;
    color: var(--btn-text);
    font-size: 16px;
}

.welcome-btn {
    position: absolute;
    top: 400px;
}


.small_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3em;
}


.small_banner {
    overflow: hidden;
}

.image {
    object-fit: cover;
    max-width: 340px;
    height: 340px;
}

.small_banner > a {
    text-decoration-line: none;
    cursor: pointer;
}

.slidein {
    margin: 0;
    margin-top: -48px;
    animation: mytext 1s;
    width: 140px;
    height: auto;
    text-align: center;
    padding: 10px 16px;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.slidein:hover {
    transition: color 0.6s ease;
    color: var(--primary);
}



/*
.small_banner:hover .slidein {
-webkit-animation-name: movein 2s ease;  Safari 4.0 - 8.0 
animation-name: movein 2s ease;
}
*/

/*
@keyframes movein {
from {right: 200px};
to {right: 0};
}


@-webkit-keyframes movein {
from {right: 200px};
to {right: 0};
}
*/

.carousel-wrapper {
    margin-top: 20px;
    width: 100%;
    height: 540px;
    z-index: -1;
    /*
    padding: 0;
    margin: 0;
    object-fit: cover;
    */
    /*    overflow: hidden;*/
}

.carousel {
    transform-style: preserve-3d;
}

.carousel__photo {
    width: 100%;
    height: 540px;
    object-fit: cover;
    opacity: 0;
    /*    position: absolute;*/
    top:0;
    padding: 0;
    margin: 0;
    /*    padding: 1rem 4rem;*/
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__photo.initial,
.carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
    z-index: 800;
}
.carousel__photo.prev {
    transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
    transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
    position: absolute;
    top:50%;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; 
    z-index: 1001; /* Sit on top of everything */
    border: 1px solid black;
}
.carousel__button--prev {
    left:0;
}
.carousel__button--next {
    right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

form {
    padding: 0 0 20px 20px;
    width: 480px;
    margin: 0 auto;
}

form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}

form > div > label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    width: 80%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 8px 12px;
    font-size: 14px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password] {
    width: 60%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0;
    border-color: #262626;
}

.submit {
    padding: 6px 12px;
    background-color: var(--primary);
    color: white;
    font-size: 14px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.gallery {
    grid-column: span 3;
    margin: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

@media only screen and (max-width: 660px) {
    .gallery {
        grid-column: span 6;
    }
}

.gallery:hover {
    border: 1px solid #777;
    box-shadow: 5px 10px 20px #888888;
    transition: box-shadow 0.2s ease;
}

.gallery img {
    width: 100%;
    height: auto;
    /*    object-fit: cover;*/
}

.desc {
    padding: 15px;
    text-align: center;
}

.card-list {
    display: block;
    width: 100%;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-image {
    display: block;
    background: #fff center center no-repeat;
    background-size: cover;

}

.card-image > img {
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description > h2 {
    color: var(--heading);
    margin: 0 0 0.5em;
}

.card-description > p {
    color: var(--paragraph-text);
    margin: 0;
}

:root {
    --background-color: #ffffff;
    --primary: #F4001F;
    --nav: #4E4E4E;
    --btn-background: #F4001F;
    --btn-text: white;
    --paragraph-text: #000;
    --heading: #000;
}

/* Homepage slideshow styles. */
.cycle-pager { 
    width: 269px ;
    text-align: center;
/*    margin-top: -100px;*/
/*    position: absolute;*/
/*    z-index: 1;*/
}
.cycle-pager span { 
    font-family: arial; 
    font-size: 50px; 
    width: 16px; 
    height: 16px; 
    display: inline-block; 
    color: #ddd; 
    cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { 
    color: #D69746;
}
.cycle-pager > * { 
    cursor: pointer;
}

.product-img {
    grid-column: span 8;
    width: 80%;
    align-content: center;
}

.product-desc {
    grid-column: span 4;
/*    padding-left: 10px;*/
    padding-top: 0;
    margin-top: 0;
}

.link-page {
/*    margin: 1em 0 0 0;*/
}
